##########################
# KEDRO PROJECT
##########################
docs/build/
docs/source/conf.py

# Kedro local configuration
conf/local/**
!conf/local/.gitkeep
!conf/local/catalog.yml
!conf/local/parameters.yml

##########################
# Common files
##########################
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
.vscode/

# IPython
.ipython/
.jupyter/

##########################
# PROJECT SPECIFIC
##########################

# Large figure files
#figures/CCDD_GNNDistMult_perturb/*.png
figures/RGCN_closer_look.png

# Model files and data
*.pkl
data/02_intermediate/**
data/03_primary/**
data/04_feature/**
data/05_model_explanations/**
data/06_models/**
data/07_model_output/**
data/08_reporting/**

# Explanations
explanations/

# Logs
logs/

# pip/setuptools egg
*.egg-info/